<%- include ../partials/header.ejs %>
<%- include ../partials/main_nav.ejs %>

<div class="container pt-5">
    <h1><%= title %></h1>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
            <tr>
                <td>Survey Result</td>
                <td>Action</td>
            </tr>
            </thead>
            <tbody>
            <% if (resultList.length > 0) { %>
                <% for(let count = 0; count < resultList.length; count++) { %>
                    <tr>
                        <td><%= resultList[count] %></td>
                        <td><a href="/account/viewSurveyDetail/<%= resultList[count] %>"
                               class="btn btn-outline-info btn-sm">View</a></td>
                    </tr>
                <% } %>
            <% } else { %>
                <tr>
                    <td class="text-center" colspan="2">No Result Currently</td>
                </tr>
            <% } %>
            </tbody>
        </table>
    </div>
    <div class="text-end"><a href="/account" class="btn btn-outline-primary">Return to survey</a></div>
</div>
<%- include ../partials/bottom_nav.ejs %>
<%- include ../partials/footer.ejs %> 