<%- include ../partials/header.ejs %>
<%- include ../partials/main_nav.ejs %>

<div class="container pt-5">
    <h1 class="h5 p-1 border-4 border-start "><%= title %></h1>
    <div class="text-end mb-3"><a href="/account/addSurvey" class="btn btn-primary"><i class="fas fa-plus-circle"></i>
            Create New Survey</a></div>
    <div class="table-responsive shadow-sm">
        <table class="table table-hover">
            <thead class="p-4 bg-secondary text-white text-center">
            <tr>
                <td>My Surveys</td>
                <td>Start date</td>
                <td>End date</td>
                <td colspan="3" class="text-center">Action</td>
            </tr>
            </thead>
            <tbody class="text-center">
            <% if (surveyList.length > 0) { %>
                <% for(let count = 0; count < surveyList.length; count++) { %>
                    <tr>
                        <td><%= surveyList[count].title %></td>
                        <td><%= surveyList[count].startDate %></td>
                        <td><%= surveyList[count].endDate %></td>
                        <%= console.log(surveyList[count]) %>
                        <td class="text-center" width="100">
                            <a href="/account/editSurvey/<%= surveyList[count]._id %>" class="btn btn-primary btn-sm">
                                <i class="bi bi-pencil-square"></i> Edit</a></td>
                        <td class="text-center" width="100">
                            <a href="/account/deleteSurvey/<%= surveyList[count]._id %>" class="btn btn-danger btn-sm">
                                <i class="bi bi-trash3"></i> Delete</a></td>
                    </tr>
                <% } %>
            <% } else { %>
                <tr>
                    <td class="text-center" colspan="7">No Survey Currently</td>
                </tr>
            <% } %>
            </tbody>
        </table>
    </div>
</div>
<%- include ../partials/bottom_nav.ejs %>
<%- include ../partials/footer.ejs %>